<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Informacja o wniosku</title>
  {{> styles}}
</head>
<body>
  <div class="wrapper">
    {{> header}}
    <div class="body">
      <p class="body__greeting">Czesc, {{username}}</p>
      <p class="body__text">
        Dziekujemy za zlozenie wniosku o konto specjalisty w serwisie <strong>eWrozka</strong>.
        Po weryfikacji administrator podjal decyzje o <strong>odrzuceniu</strong> Twojego wniosku.
      </p>

      {{#if hasReason}}
      <div class="info-box">
        <div class="info-box__label">Powod odrzucenia</div>
        <div class="info-box__value">{{reason}}</div>
      </div>
      {{/if}}

      <div class="highlight">
        Nie zrazaj sie! Mozesz poprawic swoj profil i zlozyc wniosek ponownie - Twoj adres e-mail jest ponownie dostepny do rejestracji. <span class="emoji">💫</span>
      </div>

      <div class="btn-wrapper">
        <a href="{{applyAgainUrl}}" class="btn">Zloz nowy wniosek</a>
      </div>
      <div class="divider"></div>
      <p class="fallback">
        Jesli przycisk nie dziala, skopiuj i wklej ponizszy link:<br />
        <a href="{{applyAgainUrl}}">{{applyAgainUrl}}</a>
      </p>
    </div>
    {{> footer}}
  </div>
</body>
</html>
